.title {
	text-align: center;
	margin: 20px 0 0 0;
	font-family: Bebas Neue;
}

.Weather {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 15px;
	font-family: Comfortaa;
	background: radial-gradient(rgb(173, 231, 146) 0%, rgb(110, 204, 175) 100%);
	border: 0 solid rgba(243, 236, 176, 0.4);
	border-radius: 15px;
	box-shadow: 15px 15px 26px 3px rgba(243, 236, 176, 0.3);
	max-width: 800px;
	display: block;
}

.city {
	text-align: center;
	font-family: Bebas Neue;
	margin-top: 5px;
}

.Weather li {
	list-style: none;
}

.Weather ul {
	margin: 0;
}

.Weather .temperature {
	font-weight: bold;
	font-size: 40px;
}

.Weather .unit {
	font-size: 14px;
	position: relative;
	line-height: 1;
	top: -20px;
}

.main-info {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

body {
	background: linear-gradient(86deg, #344d67 0%, #6eccaf 100%, #ade792 100%);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	height: 100vh;
}

.search {
	text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.search-btn {
	background-color: #344d67;
	color: #ade792;
	border: 2 solid #344d67;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
}

.search-btn:hover {
	color: #344d67;
	background-color: #ade792;
	transition: all 400ms ease-in-out;
}

.tCelsius,
.tFahrenheit {
	text-decoration: none;
	color: darkgreen;
	font-weight: bolder;
}

.tCelsius:hover,
.tFahrenheit:hover {
	color: #ade792;
	transition: all 400ms ease-in-out;
}
